* {
	outline: none;
}

main {
	padding: 70px 0;
}

h1 {
	margin-bottom: 2rem;
}

.btn {
	& svg {
		width: 15px;
		height: 15px;
	}

	&.btn--icon {
		padding: 6px;
	}
}

.message {
	background-color: #fff;
}

.participant {
	display: flex;
	align-items: center;
	height: 24px;
	margin-right: 8px;
	line-height: 1;

	& svg {
		width: 8px;
		height: 8px;
		margin-left: 7px;
	}
}

.search-result {
	top: 100%;
	width: 100%;
	padding: 10px 0;
	background-color: #fff;
	z-index: 2;

	& ul {
		padding: 0;
		margin: 0;
	}

	& li {
		padding: 10px 20px;
		list-style: none;
		cursor: pointer;

		&:hover {
			background-color: #4392e6;
		}
	}
}

.chosen-user {
	&__img {
		position: relative;
		width: 20px;
		height: 20px;
		margin-right: 10px;
		border-radius: 50%;
		background-position: 50%;
		background-repeat: no-repeat;
		background-size: cover;
	}

	&__close {
		display: block;
		font-size: 0;
		
		& svg {
			width: 12px;
			height: 12px;
		}
	}
}